<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/logs" />
    <!-- 定义日志文件名称,与工程名一致 -->
	<property name="APP_NAME" value="Request_Router" />
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level  [%X{sessionId}] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- TimeBasedRollingPolicy和SizeBasedTriggeringPolicy联合使用时间和日志文件大小发生冲突，直接使用SizeAndTimeBasedRollingPolicy替代 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>5</MaxHistory>
			<!--单个日志文件大小-->
			<MaxFileSize>20MB</MaxFileSize>
			<!--单个文件超过20MB后，产生的文件会加上".1"、".2"、……,设置MaxBackupIndex=40后，最多有51个20MB的日志文件-->
			<!--<MaxBackupIndex>40</MaxBackupIndex>-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{sessionId}] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 异常文件输出设置，将异常堆栈另外保存一份到单独的文件中，方便查找 -->
	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${APP_NAME}.error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${APP_NAME}/${APP_NAME}.error-%d{yyyy-MM-dd}-%i.zip</FileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>365</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{sessionId}] %logger{50} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印警告日志 -->
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
    
    <!-- Spring framework logger -->
	<logger name="org.springframework" level="INFO"></logger>
	<!-- com.ceiec -->
	<logger name="com.ceiec" level="INFO"></logger>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERROR" />
    </root>

</configuration>